.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 3.5rem;
  font-weight: 500;
}

.heading img {
  width: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.targets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 40px;
  padding: 10px;
}

.lineup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineup img {
  width: 80px;
}

.missing {
  filter: brightness(0);
}

.search-area {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 12px;
  width: 90%;
}

.pokemon {
  user-select: none;
  transition: transform 0.2s ease;
  border-radius: 50%;
  padding: 4px;
  width: 80px;
}

.pokemon:hover {
  outline: 3px solid red;
  z-index: 10;
}
