.targets {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  margin-top: 40px;
}

.lineup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineup img {
  width: 120px;
}

.missing {
  filter: brightness(0);
}
