.end-screen {
  margin: auto;
  font-size: 1.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.time {
  color: var(--secondary-accent-colour);
}

.highscore-form {
  display: flex;
  gap: 4px;
}

.username {
  flex: 1;
}
