:root {
  --sky-colour: #77c6f5;
  --ocean-colour: #6891ee;
  --grass-colour: #7daa70;
}

.game {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--sky-colour);
}

.sky {
  background: url("../assets/sky-background.png") bottom/100% auto no-repeat;
}

.ocean {
  outline: 1px solid var(--ocean-colour);
  height: 40px;
  background-color: var(--ocean-colour);
}

.grass {
  flex: 1;
  background: url("../assets/grass-background.png") top/100% auto no-repeat;
  background-color: var(--grass-colour);
  display: flex;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 1.4rem;
}

.timer {
  position: absolute;
  top: 30px;
  right: 30px;
}

@media (width < 800px) {
  .actions {
    top: 60px;
    left: 10px;
    font-size: 0.8rem;
  }

  .timer {
    top: 60px;
    right: 10px;
  }
}
