.heading {
  text-align: center;
  font-weight: 500;
  font-size: 2.8rem;
}

.container {
  width: min-content;
  min-height: 330px;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
}

.leaderboard {
  width: 100%;
  font-size: 1.4rem;
  border-collapse: collapse;
  font-size: 1.2rem;
}

.leaderboard th,
.leaderboard td {
  text-align: center;
  padding: 0 16px;
  border-bottom: var(--main-border);
  white-space: nowrap;
}

.leaderboard th {
  background-color: var(--secondary-accent-colour);
  color: white;
  font-weight: 600;
}

.leaderboard td {
  font-weight: 500;
}

.leaderboard tr:last-child td {
  border-bottom: none;
}

.username {
  font-size: 1.5rem;
}

.current-score {
  color: var(--secondary-accent-colour);
}

@media (width < 620px) {
  .heading {
    font-size: 2rem;
  }
  .container {
    min-height: 270px;
  }

  .leaderboard {
    font-size: 1rem;
  }

  .leaderboard th,
  .leaderboard td {
    padding: 0 4px;
  }

  .username {
    font-size: 1.1em;
  }
}
