.search-area {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 12px;
  width: 90%;
}

.pokemon {
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 50%;
  width: 80px;
}

.pokemon:hover {
  scale: 1.1;
  z-index: 2;
  outline: 1px dashed rgba(255, 255, 255, 0.5);
}

.pokemon.found {
  content: url("../assets/pokeball.png");
  cursor: default;
  z-index: -1;
}
