.search-area {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 12px;
  width: 95%;
  max-width: 2550px;
}

.pokemon {
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 50%;
  width: 80px;
  z-index: 2;
}

.pokemon:hover {
  scale: 1.1;
  z-index: 3;
  outline: 1px dashed rgba(255, 255, 255, 0.5);
}

.pokemon.found {
  pointer-events: none;
  content: url("../assets/pokeball.png");
  cursor: default;
  z-index: 1;
}

@media (width < 1400px) {
  .pokemon {
    width: 80px;
  }
}

@media (width < 800px) {
  .search-area {
    grid-template-columns: repeat(10, 1fr);
  }
}
