.start-dialog {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.instructions {
  text-align: center;
}

.loading {
  color: var(--main-accent-colour);
}

@media (width < 1100px) {
  .container {
    flex-direction: column;
  }
}

@media (width < 550px) {
  .container {
    font-size: 1.5rem;
  }
}
