.targets {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

.lineup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineup img {
  width: 120px;
}

.missing {
  filter: brightness(0);
}

@media (width < 1400px) {
  .lineup img {
    width: 80px;
  }
}
